[Unit]
Description=HySDS service for worker instance seppuku
After=provision-verdi.service

[Service]
ExecStart=/bin/bash -c "<%= @verdi_dir %>/bin/python /etc/systemd/system/harikiri.d/harikiri.py -l $(/bin/grep ^MOZART_REST_URL <%= @verdi_dir %>/ops/hysds/celeryconfig.py | /bin/awk 'BEGIN{FS=\"\\\"\"}{print $2}') <%= @work_dir %>"
KillMode=process
Restart=on-failure
User=ops
Group=ops

[Install]
WantedBy=multi-user.target
