[Unit]
Description=HySDS service for worker instance seppuku
After=start-verdi.target

[Service]
ExecStart=<%= @verdi_dir %>/bin/python /etc/systemd/system/harikiri.d/harikiri.py -l $(grep ^MOZART_REST_URL <%= @verdi_dir %>/ops/hysds/celeryconfig.py | awk 'BEGIN{FS="\""}{print $2}') <%= @work_dir %>
Restart=on-failure
User=ops
Group=ops

[Install]
WantedBy=multi-user.target
